db.sqlite3
marketapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/clients/__pycache__/*
/apps/clients/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/products/__pycache__/*
/apps/products/migrations/*